language: php

services:
    - mysql

matrix:
    include:
        - php: 5.6
        - php: 7.0
        - php: 7.1
        - php: hhvm
    allow_failures:
        - php: hhvm

install:
    - composer install --prefer-source

script: vendor/bin/phpunit
